Stuff
/* body {
  align-items: center;
  background-color: white;
} */

/* .card-back { */
  /* use pokemon trading cards? how do I generate that? */
/* Style so everything fits in a div, picture of pokemon on left side, stats on right */
/* add background */
/* }
h1 {
  align-items: center;
}

h2 {
  align-items: center;
}

h3 {
  align-items: center;
}

 li {
   list-style: none;
 } */
