body {
  background-image: linear-gradient(#9fdb95, #6ed59e, #2acda8);
  box-sizing: 10 10 10 10px white inset;
  position: relative;
}
.background {
  position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  height: 100%;

  /* box-shadow: 10 10 10px white inset */
}

.stats {
font-family: 'Long Cang';
position: absolute;
display: flex;
flex-grow: column;
z-index: 3;
}

h2, dd, dt {
  font-family: 'Long Cang';
  font-size: 20px;
  text-decoration: underline;
  padding: 10px;
}

.button {
  background-color: #9370DB;
}
/* background <img {
position:relative;
} */
